.mobile-top-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  z-index: 10000;
}

.mobile-top-header-logo {
  height: 45px;
  width: auto;
  cursor: pointer;
}

@media (min-width: 769px) {
  .mobile-top-header {
    display: none;
  }
}
