.mobile-top-header {
  position: absolute;
  top: var(--announcement-height);
  left: 0;
  width: 100%;
  background: #F1DBD1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 22px;
  padding-top: 9px;
  z-index: 10000;
  box-sizing: border-box;
}

.mobile-top-header-logo {
  height: 45px;
  width: auto;
  cursor: pointer;
  transform: scaleX(-1) translateX(13px);
}

@media (min-width: 769px) {
  .mobile-top-header {
    display: none;
  }
}
